// vars.tfvarsファイルのサンプル
//CLIENT_ID=""
//CLIENT_SECRET=""
//USER_AGENT=""
//USERNAME=""
//PASSWORD=""
GCP_PROJECT_ID=""
GCP_SERVICE_ACCOUNT_FILE="~/.gcp/reddit-cred.json"
GCP_ACCOUNT=""
SLACK_BOT_TOKEN=""
SUBSCRIBE_CHANNEL_IDS=""
GOOGLE_NEWS_CHANNEL_ID=""